<div class="container fluid">

	<p> Hello Vampire! Your <a href="#"> skin type 0 </a> puts you at great risk of disintegrating! You must avoid the sun at all costs. Here is your current risk:  </p>
	

</div>