<!DOCTYPE html>
<html>
  <head>
    <title>GoogleVamps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="wrapper">

		<div id="header">
	  		<h1> VampMap </h1>
		</div>

		<div id="content">
			
		</div>

	    <%= yield %>
		
		<div id="footer">
		    <footer> 
		      <p> Made with &#9904; and &#9749; at Ironhack. </p>
		    </footer>
		</div>
	</div>
  </body>
</html>
